<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arbitro</title>
  <link rel="icon" href="/imagem/fvc_voando_alto_06.png" type="image/png">
  <link rel="stylesheet" href="/css/jurados.css">
  <link rel="stylesheet" href="/css/adm-ope-arb.header.botao.css">

</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <h1>🏆 ARBITRO</h1>
          <p>Sistema de Competição de Capoeira</p>
        </div>
      </div>
    </div>
  </header>

  <div class="lang-buttons">
    <button id="pt" class="active">
      <img src="/imagem/br.png" alt="Português">
    </button>
    <button id="en">
      <img src="/imagem/us.png" alt="English">
    </button>
    <button id="es">
      <img src="/imagem/es.png" alt="Español">
    </button>
    <button id="fr">
      <img src="/imagem/fr.png" alt="Frances">
    </button>
  </div>

  <div class="container111">
    <div class="avaliacao-box">
      <div class="arbitros">
        <input type="text" id="arbitro" class="input-text" placeholder="Arbitro" readonly />
        <!--<input id="jurado" placeholder="" readonly />-->
      </div>


      <!-- Campo de Foto do Atleta -->
      <div id="foto-atleta-container" class="nomeAtleta" style="display:none;">
        <div class="nomeAtletaContainer">
          <label id="nome-atleta1" for="nome-atleta1">Atleta</label>
        </div>
        <div class="fotoAtletaContainer">
          <img id="foto-atleta" class="fotoAtleta" src="" alt="Foto do Atleta">
        </div>
      </div>

      <div class="input-container1">
        <label for="fase">Fase:</label>
        <input type="text" id="fase" class="input-text" placeholder="fase" readonly />
      </div>

      <div class="input-container2">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" class="input-text" placeholder="Categoria" readonly />
      </div>

      <div class="input-container3">
        <label for="ritmo">Jogo:</label>
        <input type="text" id="ritmo" class="input-text" placeholder="Ritmo" readonly />
      </div>

      <div class="label-centralizada">
        <label for="atleta">Selecionar Atleta</label>
        <select id="atleta">
          <option value="">Selecione um atleta</option>
        </select>
      </div>

      <div class="label-centralizada">
        <label id="nota1" for="nota">Nota</label>
        <select id="nota">
          <!-- opções serão geradas automaticamente pelo JS -->
        </select>
      </div>

      <button id="enviar">Enviar Nota</button>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container2">
      <p>&copy; 2026 Sistema de Pontuação - Voando Alto</p>
    </div>
  </footer>

  <script src="/js/translate-juradoA.js"></script>
  <script type="module" src="/js/juradoC.js"></script>
  <script type="module" src="/js/firebase.js"></script>
  <script src="/js/relogioLogin.js"></script>



</body>

</html>